<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a class="btn btn-light btn-xs" [routerLink]="['/clientes']">&laquo; volver</a>
    </h4>

    <form #facturaForm="ngForm">
      <div class="form-group row" *ngIf="factura.cliente">
        <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
        <div class="col-sm-6">
          <input
            name="cliente"
            type="text"
            class="form-control"
            value="{{ factura.cliente.nombre }} {{ factura.cliente.apellido }}"
            disabled
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-6">
          <input
            name="descripcion"
            type="text"
            class="form-control"
            [(ngModel)]="factura.descripcion"
            required
            #descripcion="ngModel"
          />
          <div *ngIf="descripcion.invalid && descripcion.touched" class="alert alert-danger">
            La descripción es requerida
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="observacion" class="col-sm-2 col-form-label">Observación</label>
        <div class="col-sm-6">
          <textarea name="observacion" class="form-control" [(ngModel)]="factura.observacion"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <mat-form-field>
            <input
              type="text"
              name="producto"
              placeholder="Añadir producto"
              aria-label="Productos"
              matInput
              [formControl]="autocompleteControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="mostrarNombre"
              (optionSelected)="seleccionarProducto($event)"
            >
              <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                {{ producto.nombre }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="factura.items?.length === 0" class="alert alert-info my-4">
        No hay líneas asignadas a la factura; debe agregar al menos una.
      </div>
      <table *ngIf="factura.items?.length > 0" class="table table-striped table-hover table-sm table-dark">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of factura.items">
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.producto.precio }}</td>
            <td>
              <input
                class="form-control"
                type="number"
                value="{{ item.cantidad }}"
                (change)="actualizarCantidad(item.producto.id, $event)"
              />
            </td>
            <td>{{ item.calcularImporte() }}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" (click)="eliminarItemFactura(item.producto.id)">
                x
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <h5 *ngIf="factura.items?.length > 0" class="float-right">
        Gran Total: <span class="badge badge-secondary">{{ factura.calcularGranTotal() }}</span>
      </h5>

      <div>
        <div class="col-sm-6"></div>
        <button
          type="submit"
          class="btn btn-secondary"
          (click)="crearFactura()"
          [disabled]="facturaForm.form.invalid || factura.items.length === 0"
        >
          Crear Factura
        </button>
      </div>
    </form>
  </div>
</div>
