<div
  *ngIf="modalService.modal"
  class="modal abrir-modal animacion fadeIn"
  aria-modal="true"
  aria-labelledby="exampleModalLiveLabel"
  tabindex="-1"
  role="dialog"
  style="display: block; background: rgba(0,0,0, 0.2);"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle del cliente</h5>
        <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" *ngIf="cliente">
          <div class="row">
            <div class="col-sm">
              <ul class="list-group text-dark mb-3">
                <li class="list-group-item active">{{ cliente.nombre }}</li>
                <li class="list-group-item">{{ cliente.apellido }}</li>
                <li class="list-group-item">{{ cliente.email }}</li>
                <li class="list-group-item">{{ cliente.createAt | date: 'fullDate' }}</li>
                <li class="list-group-item">{{ cliente.region.nombre }}</li>
              </ul>

              <div class="input-group mb-3">
                <div class="custom-file">
                  <input
                    (change)="seleccionarImagen($event)"
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04"
                  />
                  <label class="custom-file-label" for="inputGroupFile04">Buscar imagen</label>
                </div>
                <div class="input-group-append">
                  <button
                    (click)="subirImagen()"
                    class="btn btn-outline-secondary"
                    type="button"
                    id="inputGroupFileAddon04"
                    [disabled]="!imagen"
                  >
                    Subir
                  </button>
                </div>
              </div>

              <div *ngIf="progreso > 0" class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  attr.aria-valuenow="{{ progreso }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 75%"
                  [ngStyle]="{ width: progreso + '%' }"
                >
                  {{ progreso }}%
                </div>
              </div>
            </div>
            <div class="col-sm">
              <img
                *ngIf="cliente?.imagen"
                src="http://localhost:8080/api/upload/img/{{ cliente.imagen }}"
                alt="Imagen"
                class="img-thumbnail rounded"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
