<app-detalle-cliente *ngIf="clienteSelecionado" [cliente]="clienteSelecionado"></app-detalle-cliente>
<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button
        *ngIf="authService.hasRole('ROLE_ADMIN')"
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/clientes/form']"
      >
        Crear cliente
      </button>
    </div>
    <div *ngIf="clientes?.length === 0" class="alert alert-info">
      No ay registros en la base de datos
    </div>
    <table *ngIf="clientes?.length > 0" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>fecha</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td *ngIf="authService.hasRole('ROLE_USER')">
            <img
              (click)="abrirModal(cliente)"
              *ngIf="cliente?.imagen"
              src="http://localhost:8080/api/upload/img/{{ cliente.imagen }}"
              alt="Imagen"
              class="img-thumbnail rounded"
              style="width: 64px; cursor: pointer;"
            />
            <img
              (click)="abrirModal(cliente)"
              *ngIf="!cliente?.imagen"
              src="http://localhost:8080/images/notuser.png"
              alt="Sin imagen"
              class="img-thumbnail rounded"
              style="width: 64px; cursor: pointer;"
            />
          </td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido | uppercase }}</td>
          <td>{{ cliente.createAt | date: 'EEEE dd, MMMM yyyy' }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm">
              Editar
            </button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button name="eliminar" (click)="delete(cliente)" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginador [paginador]="paginador" *ngIf="paginador"></app-paginador>
  </div>
</div>
